@model MTG_OnlineTraining.ViewModel.MaterialsViewModel

@{
    ViewData["Title"] = "Create Material Page";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<partial name="_notification" />

    <div class=" p-3 mt-4 bg-white">
        <form  asp-action="AdminMaterialCreate" asp-controller="Admin" enctype="multipart/form-data">
            <div class="row py-2 justify-content-center">
                <div class="col-10 border my-5 formProgCreat">
                    <div class="row justify-content-center p-5 bg-light formProgCreat">
                         <div class="col-10 bg-light formProgCreat-IN AllForm">
                              <div class="row">
                                <div class="col-md-12 p-4 btt-borda HDD"> 
                                    <h1 class="text-center">Add Material</h1>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label>Program Name</label>
                                <select class="form-control custom-select" asp-for="AdminProgramId" asp-items="@(new SelectList(@ViewBag.AllProgram,  "Id", "ProgramName" ))"></select>
                                <span class="text-danger"></span>
                            </div>

                            <div class="mb-3">
                                <label>Title</label>
                                <input asp-for="Title" type="text" class="form-control"/>
                                <span asp-validation-for="Title" class="text-danger"></span>
                            </div>

                            <div class="mb-3">
                                <label>Flow Order</label>
                                <input asp-for="FlowOrder" type="number" class="form-control"/>
                                <span asp-validation-for="FlowOrder" class="text-danger"></span>
                            </div>

                            <div class="mb-3">
                                <label>Upload File</label>
                                <input type="file" class="form-control-file border" asp-for="HandOutUrl">
                                <span asp-validation-for="HandOutUrl" class="text-danger"></span>
                            </div>

                            <div class="my-4 text-center">
                                <button type="submit" class="btn btn-primary mr-1" style="width:150px"><b>Create</b></button>
                                <a asp-controller="Admin" asp-action="AdminMaterialIndex" class="btn btn-secondary" style="width:150px"><b>Back to List</b></a>
                            </div>
                            </>
                        </div>
                   </div>
                </div>
            </div>
        </form>
    </div>
