################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MTG-OnlineTraining/.vs
/MTG-OnlineTraining/MTG-OnlineTraining/bin/Debug/net6.0
/MTG-OnlineTraining/MTG-OnlineTraining/obj
