@model MTG_OnlineTraining.ViewModel.RegisterViewModel

@{
    ViewData["Title"] = "Registration Page";
}

<partial name="_notification" />

    <div class="container mt-4">
        <div class="row py-2 justify-content-center">
                <div class="col-10 border my-5 formProgCreat">
                     <div class="row justify-content-center p-5 bg-light formProgCreat">
                        <div class="col-10 bg-light formProgCreat-IN AllForm">
                            <div class="row">
                                    <div class="col-md-12 p-4 btt-borda">                            
                                        <h2 class="text-center text-success">Registration Form</h2>
                                    </div>
                                </div>
                            <form asp-controller="Accounts" asp-action="Register" enctype="multipart/form-data">
                                <div class="row">
                                    <div asp-validation-summary="ModelOnly" class="text-denger"></div>
                                    <div class="col-md-7 pb-">
                                        <label>First Name:</label>
                                        <input type="text" class="form-control" asp-for="FirstName" placeholder="Enter First Name" />
                                        <span asp-validation-for="FirstName" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-5 pb-4">
                                        <label>Last Name:</label>
                                        <input type="text" class="form-control" asp-for="LastName" placeholder="Enter last Name">
                                        <span asp-validation-for="LastName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5 pb-4">
                                        <label>Middle Name:</label>
                                        <input type="text" class="form-control" asp-for="MiddleName" placeholder="Enter Middle Name">
                                    </div>
                                    <div class="col-md-7 pb-4">
                                        <label>Date of Birth:</label>
                                        <input type="date" class="form-control" asp-for="DOB" placeholder="Date of birth">
                                        <span asp-validation-for="DOB" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-7 pb-4">
                                         <label>Phone Number:</label>
                                        <input type="number" class="form-control" asp-for="PhoneNumber" placeholder="Enter you phone number">
                                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-5 pb-4">
                                        <label>State of Origin:</label>
                                        <input type="text" class="form-control" asp-for="StateOfOrigin" placeholder="State of Residient">
                                        <span asp-validation-for="StateOfOrigin" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 pb-4">
                                         <label>Residient Address</label>
                                         <input type="text" class="form-control" asp-for="Address" placeholder="Enter residient address">
                                         <span asp-validation-for="Address" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5 pb-4">
                                         <label>Upload Passport:</label>
                                         <input type="file" asp-for="ImageUrl">
                                         <span asp-validation-for="ImageUrl" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-7 pb-4">
                                        <label>Email:</label>
                                        <input type="email" class="form-control" asp-for="Email" placeholder="Enter email">
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 pb-4">
                                         <label>Password:</label>
                                         <input type="password" class="form-control" asp-for="Password" placeholder="Enter password">
                                         <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-6 pb-4">
                                        <label>Confirm Password:</label>
                                        <input type="password" class="form-control" asp-for="ConfirmPassword" placeholder="Confirm password">
                                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row text-center justify-content-center">
                                    <div class="col-md-12 pb-5">
                                         <button type="submit" class="btn btn-success" style="width:80%">Register</button>
                                    </div>
                                </div>
                                <div class="row text-center justify-content-center pb-5">
                                    <div class="col-md-12 text-center">
                                        <h5 class="text-center"> I don't have an account?  <a asp-controller="Accounts" asp-action="Login">  Login</a></h5>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
        </div>
    </div>