@{
    ViewData["Title"] = "About Page";
}

<div class="container-fluid my-4">
    <h1 class="text-center">Who We Are</h1>
    <p>We are employee-owned enterprise, which focuses on delivering computer-based solutions to the business needs of our customers. 
        We offer reliable and efficient services that are backed up with excellent technical support, ensuring maximum uptime and satisfaction 
        to our customers. We are very resourceful and are driven by the technical competence, exposure, experience, efficiency, teamwork and
        dedication of our staff in delivering projects on schedule and to exact specifications
    </p>
    <p>
        We have better focus and understanding of our customers’ computer needs. We offer scalable services that are technically rewarding, 
        even as our customers’ computing needs grow and change. As a high-tech computer company, which centres its activities on Information 
        & Communication Technology services provision and utilisation, it is our belief that we have noble roles to play in this modern 
        era of globalisation. We encapsulate these goals and objectives in our vision and mission statements.
    </p>
</div>

<div class="container">
    <h1 class="text-center">Our Skills</h1>
</div>
      <div class="card-deck">
        <div class="card bg-primary">
          <div class="empty m-0" style="width:100%; height:10px;">
          </div>
          <div class="card-body text-center">
            <p class="card-text">Some text inside the first card</p>
          </div>
        </div>
        <div class="card bg-warning">
          <div class="card-body text-center">
            <p class="card-text">Some text inside the second card</p>
          </div>
        </div>
        <div class="card bg-success">
          <div class="card-body text-center">
            <p class="card-text">Some text inside the third card</p>
          </div>
        </div>
        <div class="card bg-danger">
          <div class="card-body text-center">
            <p class="card-text">Some text inside the fourth card</p>
          </div>
        </div>  
      </div>